{%extends 'base.html'%}

{% load static %}

{% block content %}
    
    <h1 id="nombre" style="text-align: center;">Proveemos asesoría jurídica integral para cubrir todas tus necesidades legales.</h1>
    <!--{% for area in areas %}-->
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                {% for area in Areas %}
                    <div class="intro-item mb-5">
                        {% if area.imagen %}
                            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ area.imagen.url }}" alt="{{ area.especialidad }}" style="width: 25%;">
                        {% else %}
                            <p>No hay imagen disponible para este servicio.</p>
                        {% endif %}
                        <div class="intro-text left-0 text-center no-bg p-s rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-lower-service title">{{ area.especialidad }}</span>
                                <span class="section-heading-lower-service">{{ area.contenido }}</span>
                            </h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endfor %}
{% endblock %}
<!-- <a class="nav-link" href="{% url 'contacto' %}">Contacto</a> -->


<footer>
    <h2><br>Preguntas frecuentes<br></h2>

<details> <!-- puede ser abierto o cerrado para que desplegue al click-->
  <summary>¿Que estudios tienes?</summary> <!--Todas las etiquetas se puede estilar-->
  <p><br>Estudie en la Universidad Yacambu en Barquisimeto, Venezuela.<br></p>
</details>
<details>
  <summary>¿Cuáles son tus hobbies?</summary>
  <p><br>Me gusta caminar al aire libre, me gusta ver la F1, Motogp, me gusta el futbol y el baloncesto.<br></p>
</details>
 <!-- es el final de la pagina, lo que deseas se muestre en la parte inferior de la pagina-->
  
</footer>
