{% extends "base.html" %}

{% load static %}

{% block content %} 


    <body>
        <div class="contenedorFormulario"> <p style="color: #FFFACD" ></p>
        
        <form action="" method="post" style="text-align: center">
            {% csrf_token %}
            <div><table style="color: #332110; margin: 20px auto;"> {{ form.as_table }}</table> </div> 
            <button type="submit" style="width: 150px">Enviar</button>
        </form>
      </div>
      </body>

{% endblock%}
