{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="page-section">
  <div class="container">
    <h1 class="mb-4 text-center">{{ post.titulo }}</h1>
    <div class="row">
      <div class="col-md-12 mb-4">
        <div class="card h-100">
          {% if post.imagen %}
          <div class="text-center">
            <img class="card-img-top mx-auto d.block" src="{{ post.imagen.url }}" alt="{{ post.titulo }}" style="width: 50%;">
          </div>
          {% endif %}
          <div class="card-body">
            <p class="card-text">{{ post.contenido }}</p>
          </div>
          <div class="card-footer text-muted">
            Publicado por {{ post.autor }} el {{ post.created }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}